* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a3d62;
  color: white;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

/* NAV */
.nav {
  display: flex;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  transition: 0.3s ease;
}

/* HOVER ANIMATION (underline slide) */
.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #1dd1a1;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.link:hover::after {
  width: 100%;
}

.link:hover {
  color: #1dd1a1;
}

/* ACTIVE LINK */
.active {
  color: #1dd1a1;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 62px;
    right: 0;
    background: #0a3d62;
    width: 100%;
    transform: translateY(-200%);
    transition: 0.4s ease;
  }

  .activeMenu {
    transform: translateY(0);
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
  }
}